- title 'Nytt crewmedlem'
.container
  %h1 Nytt crewmedlem
  %h2{style: 'color: red'} Send heller inn søknad. Thomas fører liste over alle som legger inn crew her!
  = render 'form'
  = link_to 'Back', volunteers_path
