Heisann

Vi vil gjerne kjøre en presentasjon av hvert enkelt band i festivalavisen vår, slik vi har gjort de seneste årene. Avisen distribueres ut i distriktet vårt før festivalen - i tillegg til at den er å få under festivalen. Opplaget er på mellom 8 og 10.000 eksemplarer.

Det vi vil ha hos dere er navnet på bandet, og hvor dere kommer fra. Her må dere huske å skrive navnene på alle bandmedlemmene, og hvilke instrumenter dere eventuelt trakterer. Ta gjerne med om dere har deltatt i rockemønstringa før. Skriv gjerne litt mer om ambisjoner, hvilken sjanger dere befinner dere i - og gjerne en generell presentasjon. Totalt bør presentasjonen ligge på rundt 1.500 tegn.

I tillegg vil vi gjerne ha et bilde av dere. Det bør ideelt sett være minimum 1200 ganger 1000 piksler, og i JPG-format.

Hvis dere skal få med presentasjonen av bandet i avisen MÅ dere levere den i løpet av førstkommende torsdag.

Cato Håkonsen
Rock Mot Rus
festival@rockmotrus.no
76 11 57 24
979 55 350
www.rockmotrus.no
