Hei, nå er det ikke lenge til Rock mot Rus braker løs nok en gang!
I år har vi et helt nytt tilbud til dere. Hvert band har muligheten
til å sende inn en musikkvideo som dere har laget selv. Den beste
videoen vil bli kåret og vist på storskjerm. Hvis dere ønsker å delta
sender dere en mail til Susann på susann.stave@rockmotrus.no innen
29.3 for å få mer informasjon.

Susann Stave
Leder, Videogruppa
Rock Mot Rus
susann.stave@rockmotrus.no
www.rockmotrus.no
