<h1>Statistikk</h1>
<h2>Annonser</h2>
<table class="border">
  <tr>
    <th>Type</th>
    <th>Antall</th>
    <th>Sum</th>
  </tr>

<% @ad_types.each do |ad_type| %>
  <tr>
    <td><%= ad_type.name %></td>
    <td><%= ad_type.ads.count %></td>
    <td><%= ad_type.ads.sum(:value) %></td>
  </tr>
<% end %>
</table>
