%h1 Statistikk
%h2 Annonser
%table.border
  %tr
    %th Type
    %th Antall
    %th Sum
  - @ad_types.each do |ad_type|
    %tr
      %td= ad_type.name
      %td= ad_type.ads.count
      %td= ad_type.value * ad_type.ads.count
