.container
  %p= link_to 'Påmelding skuespiller', 'https://forms.gle/R9vhB6HiW9oMAMof8', target: '_blank', class: 'btn btn-primary btn-lg', style: 'margin-top: 10px;'
  %p= link_to 'Påmelding tekniker', 'https://forms.gle/a611xPzodrfaCKny9', target: '_blank', class: 'btn btn-primary btn-lg', style: 'margin-top: 10px;'
