<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @merchandise_article.name %>
</p>

<%= link_to 'Edit', edit_merchandise_article_path(@merchandise_article) %> |
<%= link_to 'Back', merchandise_articles_path %>
