.container
  %h1 Personvernerklæring for Teaterklubb’81
  %p Denne personvernerklæringen beskriver hvordan Teaterklubb’81 samler inn, bruker, deler og beskytter personopplysningene dine når du melder deg på som skuespiller eller tekniker i våre teateroppsetninger.
  %h2 1. Informasjon vi samler inn
  %p Vi kan samle inn følgende personopplysninger når melder deg på som skuespiller eller tekniker:
  %p
    Kontaktinformasjon: Navn, fødselsdato, skole og telefonnummer.
    %br
    Kles- og skostørrelse: For å tilpasse kostymer og sko til deg.
    %br
    Kontaktinformasjon for foresatte: Navn, e-postadresse og telefonnummer.
    %br
    Brukerkonto (valgfritt): E-postadresse og passord for å opprette brukerkonto på denne siden.
  %h2 2. Hvordan vi bruker informasjonen din
  %p Vi bruker personopplysningene dine til følgende formål:
  %p
    Kommunikasjon: For å kontakte deg angående din deltakelse i oppsetningen.
    %br
    Produksjonsplanlegging: For å koordinere øvelser, forestillinger og andre produksjonsrelaterte aktiviteter.
  %h2 3. Deling av informasjon
  %p Vi deler ikke personopplysningene dine med tredjeparter, unntatt i følgende tilfeller:
  %p
    Andre involverte i produksjonen: Vi kan dele relevant informasjon med regissører, produsenter og andre nøkkelpersoner involvert i oppsetningen.
    %br
    Myndigheter: Hvis det er påkrevd ved lov eller for å beskytte våre rettigheter.
  %h2 4. Dine rettigheter
  %p Du har rett til å:
  %p
    Få tilgang til: Be om en kopi av personopplysningene vi har om deg.
    %br
    Korrigere: Be oss om å rette opp feil i personopplysningene dine.
    %br
    Slette: Be oss om å slette personopplysningene dine (med mindre vi er lovpålagt å oppbevare dem).
    %br
    Begrense behandling: Be oss om å begrense behandlingen av personopplysningene dine under visse omstendigheter.
    %br
    Klage: Klage til Datatilsynet dersom du mener vi ikke behandler personopplysningene dine i samsvar med loven.
  %h2 5. Informasjonssikkerhet
  %p Vi tar informasjonssikkerhet på alvor og har implementert passende tekniske og organisatoriske tiltak for å beskytte personopplysningene dine.
  %h2 6. Endringer i personvernerklæringen
  %p Vi kan oppdatere denne personvernerklæringen fra tid til annen. Vi vil varsle deg om vesentlige endringer ved å legge ut en oppdatert versjon på vår nettside.
  %h2 7. Kontaktinformasjon
  %p Hvis du har spørsmål om personvernerklæringen eller hvordan vi behandler personopplysningene dine, kan du kontakte oss på EPOSTADRESSE TK81 eller TELEFONNUMMER TK81.
  .fw-bold Ved å melde deg på som skuespiller eller tekniker, eller ved å opprette brukerkonto på denne siden, samtykker du til denne personvernerklæringen.
