<% title "Flightscreen" %>
<h1>Flightscreen</h1>
<table class="border">
  <tr>
    <th>Spilletid</th>
    <th>Navn</th>
  </tr>

<% @location_schedules.each do |location_schedule| %>
  <tr>
    <td><%= location_schedule.from %></td>
    <td><%= location_schedule.band.name %></td>
  </tr>
<% end %>
</table>
