<% title 'Innlogging' %>
<h1>Innlogging</h1>

<h2>Logg inn med Facebook-kontoen din:</h2>
<p><%= link_to image_tag('facebook_login_button.png', :alt => 'Logg inn med Facebook'), auth_at_provider_path(:provider => :facebook) %></p>
<h2>Logg inn med Twitter-kontoen din:</h2>
<p><%= link_to image_tag('sign-in-with-twitter-d.png', :alt => 'Logg inn med Twitter'), auth_at_provider_path(:provider => :twitter) %></p>
<h2>Logg inn med RMR-kontoen din:</h2>
<%= render 'form' %>
<h2>Registrer en ny RMR-konto:</h2>
<p><%= link_to 'Registrer', :new_user %></p>
